{% extends 'base.html.twig' %}

{% block title %}Meeting index{% endblock %}

{% block body %}
    <h1>Meeting index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Confirmation</th>
                <th>Lieu</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for meeting in meetings %}
            <tr>
                <td>{{ meeting.id }}</td>
                <td>{{ meeting.description }}</td>
                <td>{{ meeting.confirmation ? 'Yes' : 'No' }}</td>
                <td>{{ meeting.lieu }}</td>
                <td>{{ meeting.date ? meeting.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('meeting_show', {'id': meeting.id}) }}">show</a>
                    <a href="{{ path('meeting_edit', {'id': meeting.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('meeting_new') }}">Create new</a>
{% endblock %}
